.container {
    /*display: flex;*/
    /*flex-direction: column;*/
}

.pagination {
    /*display: flex;*/
    /*flex-direction: column;*/
    align-items: center;
    margin: 10px 0;
}

.selectedPage {
    font-weight: bold;
}
