.header {
    background-color: #1880d2;
    grid-area: h;
    color: white;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    max-width: 100%;
    width: 80px;
    height: 80px;
}
.loginBlock {
    margin-right: 20px;
    text-transform: uppercase;
    color: #000;
}
.loginBlock a {
    color: #000;
}
.loginBlock a:hover {
    color: #fff;
}