.profileInfo {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bgImg {
    width: 100%;
    max-width: 1000px;
    max-height: 200px;
    object-fit: cover;
}

.aboutUserContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
