.postWrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.item:last-child {
    margin-bottom: 0;
}
.item img {
    max-width: 100%;
    width: 64px;
    border-radius: 32px;
}

.postMessage{
    display: block;
    width: 700px;
    height: 100px;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    margin-left: 5px;
    padding: 10px;
}

.btnWrapper{
    display: flex;
    align-items: center;
}

.likeBtn {
    display: block;
    width: 50px;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: #1f91ec;
    margin-right: 10px;
}

.likeBtn:active {
    background-color: rgba(31, 145, 236, 0.5);
}

.deleteBtn {
    text-align: center;
    color: black;
    background-color: #6c9dba;
    margin: 0 5px;
    padding: 10px;
}

.deleteBtn:active {
    background-color: rgba(112, 169, 207, 0.5);
}