.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
