.nav {
    background-color: #1880d2;
    grid-area: n;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.navMenu {
    padding-top: 50px;
}

.navItem {

    margin-bottom: 50px;
}

.navLink.active {
    color: #fff;
}

.navLink {
    text-decoration: none;
    color: #000;
}

.navLink:last-child {
    margin-bottom: 0;
}