.nav {
    background-color: lightskyblue;
    grid-area: n;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.navMenu {
    padding-top: 50px;
}

.navItem {

    margin-bottom: 50px;
}

.navLink {
    color: #fff;
}

.navLink.active {
    color: gold;
}

.navLink {
    text-decoration: none;
    color: #fff;
}

.navLink:last-child {
    margin-bottom: 0;
}

.navLink:hover {
    color: greenyellow;
    text-decoration: underline;
}